PORT=4500
NODE_ENV=development

MONGO_HOST=mongodb://127.0.0.1:27017/listener-db
LISTENER_DB=listener-db

LISTENER_JWT_SECRET=CHANGE_ME_64_HEX
REFRESH_TOKEN_SECRET=CHANGE_ME_64_HEX
ACCESS_TOKEN_TTL=1d
REFRESH_TOKEN_TTL=30d

MAIN_API_URL=http://localhost:4000/api

SERVICE_KEY=CHANGE_ME_48_HEX

FILE_URL_SECRET=CHANGE_ME_SAME_AS_MAIN

CORS_ORIGINS=http://localhost:5573
