NODE_ENV=production
PORT=4500
MONGO_HOST=mongodb://mongo:27017/listener-db
LISTENER_DB=listener-db
LISTENER_JWT_SECRET=GENERATE
REFRESH_TOKEN_SECRET=GENERATE
ACCESS_TOKEN_TTL=1d
REFRESH_TOKEN_TTL=30d
MAIN_API_URL=http://api:4000/api
SERVICE_KEY=SAME_AS_MAIN
FILE_URL_SECRET=SAME_AS_MAIN
CORS_ORIGINS=https://malaka.fermi.uz
LOGIN_RATE_MAX=300
